<div>Student email: <%= @evaluation.student_email %></div>
<div>Project name: <%= @evaluation.project_name %></div>
<div>Advisor email: <%= @evaluation.advisor_email %></div>
<div>Evaluation: <%= @evaluation.comments %></div>
