<tr>
  <td><%= display_name(evaluation.advisor) %></td>
  <td><%= display_name(evaluation.student) %></td>
  <td><%= evaluation.project_name %></td>
  <td>Click <%= q_link_to "here", evaluation %> to read this evaluation.</td>
</tr>
