<h2>Evaluations</h2>

<% if @evaluations.any? %>
  <table class="table table-bordered">
    <thead>
      <tr>
	<th>Advisor</th>
	<th>Student</th>
	<th>Project</th>
	<th>Notes</th>
      </tr>
    </thead>

    <tbody>
      <% @evaluations.each do |evaluation| %>
	<%= render 'evaluation_short', evaluation: evaluation %>
      <% end %>
    </tbody>
  </table>
<% else %>
  There are no evaluations for this quarter.
<% end %>

<br />

<p>
  Click <%= link_to "here", new_evaluation_template_path %> to create an
  evaluation template.
</p>

<p>
  Click <%= link_to "here", evaluation_templates_path %> to view all the
  evaluation templates.
</p>

<%# Link to evaluation templates from previous quarters, or to all evaluation
    templates (from all quarters)? %>
