<h1>View all evaluations</h1>

<% @evaluations.each do |evaluation| %>
  <div><%= evaluation.advisor_email %> submitted an evaluation for
    <%= evaluation.student_email %> on project
    <%= evaluation.project_name %>.
    Click <%= link_to "here", [evaluation.project,
			       evaluation.submission, evaluation] %>
    to read it.
  </div>
  <!-- ... -->
  <br>
<% end %>
