<h2>Evaluations</h2>

<% if @evaluations.any? %>
  <table class="table table-bordered">
    <thead>
      <tr>
	<th>Advisor</th>
	<th>Student</th>
	<th>Project</th>
	<th>Notes</th>
      </tr>
    </thead>

    <tbody>
      <% @evaluations.each do |evaluation| %>
	<%= render 'evaluation_short', evaluation: evaluation %>
      <% end %>
    </tbody>
  </table>
<% else %>
  There are no evaluations for this quarter.
<% end %>

<br />

<p>
  Click <%= link_to "here", edit_evaluation_template_path %> to edit the
  evaluation template.
</p>
