<h2>
  <%= formatted_template_title(@evaluation.evaluation_template, false) %>
    Evaluation for <%= display_name(@evaluation.student) %>
</h2>

<%= render 'evaluation_show', object: @evaluation %>

<p>
  Click <%= q_link_to "here", @evaluation.submission %> to view the student's
  application.
</p>
