<div class="alert alert-warning">
  <strong>Note</strong>: The default dates in this form are estimates. We
  suggest you confirm that these dates fit the University of Chicago's
  <%= link_to "official calendar",
  "http://www.uchicago.edu/academics/calendar/", class: "alert-link",
  target: "_blank" %>.
</div>
