<tr>
  <td><%= link_to formatted_quarter(quarter), quarter %></td>
  <td><%= link_to "Edit", edit_quarter_path(quarter.id) %></td>
  <td><%= link_to "Delete", quarter, method: :delete,
  data: { confirm: "Are you sure?" } %></td>
  <td><%= "This is the current quarter." if quarter.current? %></td>
</tr>
