<h1>Edit <%= @quarter.formatted_quarter %></h1>

<%= render 'new_edit_form', change: "update",
  form_season: @quarter.season.capitalize,
  form_year: @quarter.year, form_start_date: @quarter.start_date,
  form_project_proposal_deadline: @quarter.project_proposal_deadline,
  form_student_submission_deadline: @quarter.student_submission_deadline,
  form_advisor_decision_deadline: @quarter.advisor_decision_deadline,
  form_admin_publish_deadline: @quarter.admin_publish_deadline,
  form_end_date: @quarter.end_date %>
