<h1>List of Quarters</h1>

<% @quarters.each do |quarter| %>
  <div>
    <%= render 'quarter_short', quarter: quarter %>
  </div>
<% end %>

<% if can? :manage, Quarter %>
  Click <%= link_to "here", new_quarter_path %> to make a new quarter.
<% end %>
