
<%# This lets us feed the deadlines to our JS file. %>
<%= content_tag :div, class: "deadlines_class",
  data: { deadlines: @deadlines } do %>
<% end %>

<%= render 'date_notification' %>

<h2>Create a Quarter</h2>

<%= render 'new_edit_form', change: "create", form_season: default_season,
  form_year: Time.now.year, form_start_date: start_date,
  form_project_proposal_deadline: default_deadline("proposal"),
  form_student_submission_deadline: default_deadline("submission"),
  form_advisor_decision_deadline: default_deadline("decision"),
  form_admin_publish_deadline: default_deadline("admin"),
  form_end_date: end_date %>
