<h1><%= @quarter.formatted_quarter %> Projects</h1>

<% if @quarter_projects.present? %>
  <table class="table table-bordered">
    <tr>
      <th>Title</th>
      <th>Advisor</th>
      <!-- Summary column? -->
    </tr>
    <tbody>
  <% @quarter_projects.each do |project| %>
    <tr>
      <td><%= link_to project.name, project %></td>
      <td><%= project.advisor_display_name %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
<% else %>
  There are no projects to show for this quarter.
<% end %>

<!-- DRY up; almost identical to projects/index.html.erb -->
