<h2>All users</h2>
<%# We probably want to paginate this and add a search bar. %>
<% if @users.count > 0 %>
  <table class="table table-bordered">
    <tr>
      <th>CNetID</th>
      <th>E-mail address</th>
      <th>Full name</th>
      <th>Roles</th>
    </tr>
    <tbody>
      <% @users.each do |user| %>
	<tr>
	  <td><%= user.cnet %></td>
	  <td><%= user.email %></td>
	  <td><%= link_to display_name(user), user %></td>
	  <td><%= formatted_roles(user) %></td>
	</tr>
      <% end %>
    </tbody>
  </table>
<% end %>
