<h2><%= display_name(@user) %></h2>

This is your personal page.

<% if can? :update_affiliation_of, current_user %>
  <h3>Affiliation and Department</h3>
  <%= render 'affiliation_form' %>
<% end %>

<br />

<% if current_user.admin? %>
  <h3>Roles</h3>
  <%= render 'roles_form' %>
<% end %>
