<h1><%= @user.display_name %></h1>

This is your personal page.

<% if can? :update_affiliation_of, current_user %>
  <h3>Change your affiliation and department</h3>
  <%= render 'affiliation_form' %>
<% end %>

<% if current_user.admin? %>
  <h3>Change user roles</h3>
  <%= render 'roles_form' %>
<% end %>
