<h1>All students' applications</h1>
<% Submission.all.each do |submission| %>
  <div>
    <%= render partial: 'submission_short',
               locals: { submission: submission } %>
  </div>
<% end %>
