
<% Submission.all.each do |submission| %>
  <div>  <%= submission.student_email %> applied to <%= Project.find(submission.project_id).name %> on [date_applied]. Click <%= link_to "here", project_submission_path(submission.project_id, submission.id) %> to read this student's application. </div>
<% end %>
