<tr>
  <td><%= display_name(submission.student) %></td>
  <td><%= display_name(submission.project.advisor) %></td>
  <td>
    Click <%= q_link_to "here", submission %> to view this student's application.
  </td>
</tr>
