<% @submission.evaluations.each do |evaluation| %>
  <p>
    Click <%= link_to "here", q_path(evaluation) %> to view this
    student's <%= formatted_template_title(evaluation.evaluation_template,
					   false) %> evaluation.
  </p>
<% end %>
