<p>
  Click

  <%= link_to "here",
  new_submission_evaluation_path(submission_id: @submission.id) %>

  to complete the

  <%= formatted_template_title(EvaluationTemplate.current_active, false) %>

  evaluation for this student.
</p>
