<tr>
  <td><%= submission.student_email %></td>
  <td><%= submission.created_at.to_date %></td>
  <td><%= submission.status.capitalize %></td>
  <td>
    Click <%= link_to "here", submission_path(submission.id) %>
    to view this application.
  </td>
</tr>
