<h2>
  Accepted Applicants for <%= formatted_quarter_by_params %>
</h2>

<br />

<%# TODO: Check that this table has entries before showing it %>
<table class="table table-bordered">

  <thead>
    <tr>
      <th>Student</th>
      <th>Advisor</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <%= render 'accepted', submission: submission %>
  <% end %>
  </tbody>

</table>
