<h2>
  Accepted Applicants for <%= formatted_quarter_by_params %>
</h2>

<br />

<% if @submissions.present? %>
  <table class="table table-bordered">

    <thead>
      <tr>
	<th>Student</th>
	<th>Advisor</th>
	<th>Notes</th>
      </tr>
    </thead>

    <tbody>
      <% @submissions.each do |submission| %>
	<%= render 'accepted', submission: submission %>
      <% end %>
    </tbody>

  </table>

  <br />

  <p>Students' e-mail addresses:</p>
  <ul>
    <% @student_emails.each do |s_email| %>
      <li><%= s_email %></li>
    <% end %>
  </ul>

  <br />

  <p>Advisors' e-mail addresses:</p>
  <ul>
    <% @advisor_emails.each do |a_email| %>
      <li><%= a_email %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no accepted applications in this quarter.</p>
<% end %>
