<h1>Applications to <%= @project.name %></h1>

<% if can? :read_submissions_of, @project %>
  <div class="alert alert-info">
    <strong>Decision deadline</strong>:
    <%= formatted_deadline("advisor_decision") %>
  </div>

  <table class="table table-bordered">
    <tr>
      <th>Applicant</th>
      <th>Date submitted</th>
      <th>Status</th>
      <th>Notes</th>
    </tr>
    <tbody>
    <% @project.submissions.each do |submission| %>
      <%= render 'submission_short', submission: submission %>
    <% end %>
    </tbody>
  </table>
<% end %>
