<h1>Applications to <%= @project.name %></h1>

<% if can? :read_submissions_of, @project %>
  <ol>
    <% @project.submissions.each do |submission| %>
      <div>
	<%= render 'submission_short', submission: submission %>
      </div>
      <br>
    <% end %>
  </ol>
<% end %>
