<h1>All of my submissions</h1>

<% if can? :read, Submission %>
<!-- Is the above check needed? -->
  <ol>
    <% @submissions.each do |submission| %>
      <div><li><%= submission.information %> | submitted by <%= submission.student_email %> to project <%= submission.project_id %>, which is entitled "<%= submission.project_name %>"</li></div>
    <% end %>

  </ol>
<% end %>

