<h2>Applications to <%= @project.name %></h2>

<% if can? :read_submissions_of, @project %>
  <% if before_deadline?("advisor_decision") %>
    <div class="alert alert-info">
      <strong>Decision deadline</strong>:
      <%= formatted_deadline("advisor_decision") %>
    </div>
  <% else %>
    <div class="alert alert-warning">
      <strong>The application decision deadline has passed.</strong>
      It was <%= formatted_deadline("advisor_decision") %>.
    </div>
  <% end %>

  <table class="table table-bordered">
    <tr>
      <th>Applicant</th>
      <th>Date submitted</th>
      <th>Status</th>
      <th>Notes</th>
    </tr>
    <tbody>
    <% @project.submitted_submissions.each do |submission| %>
      <%= render 'submission_short', submission: submission %>
    <% end %>
    </tbody>
  </table>
<% end %>
