<h1>Application from <%= @submission.student_email %></h1>

<div>
  <%= render 'submission_show', object: @submission %>

  <% if can? :accept, @submission %>
    <%= render 'submission_accept_reject', object: @submission %>
  <% end %>

  <% if can? :create_evaluation_for, @submission %>
    <%= render 'submission_create_evaluation', object: @submission %>
  <% else %>
    You cannot create an evaluation for this student: either you already have,
    or you have not yet accepted this student.
  <% end %>
</div>
