<tr class="<%= row_class(project.status) %>">
  <td><%= link_to project.name, project %></td>
  <td><%= display_name(project.advisor) %></td>
  <td><%= formatted_project_status(project) %></td>
</tr>
