<h1>All <em>approved</em> projects</h1>

<% if can? :read, Project %>
  <ol>
    <% @projects.each do |project| %>
      <div>
	<li>
	  <%= project.name %> | posted by <%= project.advisor_email %>
	  | application deadline: <%= project.deadline %>
	</li>

	<div>
	  Find out more information <%= link_to "here", project %>.
	</div>
      </div>
      <br>
    <% end %>
  </ol>
<% end %>
