<h1><%= Quarter.formatted_current_quarter%> Projects</h1>

<div>
  <strong>Application deadline</strong>: <%= student_submission_deadline %>
</div>
<br>

<% if @projects.present? %>
  <table class="table table-bordered">
    <tr>
      <th>Title</th>
      <th>Advisor</th>
      <!-- Summary column? -->
    </tr>
    <tbody>
      <% @projects.each do |project| %>
	<tr>
	  <td><%= link_to project.name, project %></td>
	  <td><%= project.advisor_email %></td>
	</tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  There are currently no projects available.
<% end %>
