<h1><%= Quarter.formatted_current_quarter%> Projects</h1>

<% if @projects.present? %>
  <table class="table table-bordered">
    <tr>
      <th>Title</th>
      <th>Advisor</th>
      <!-- Summary column? -->
    </tr>
    <tbody>
      <% @projects.each do |project| %>
	<%= render 'project_short', project: project %>
      <% end %>
    </tbody>
  </table>
<% else %>
  There are currently no projects available.
<% end %>
