<h2><%= formatted_quarter_by_params %> Projects</h2>

<%= render 'student_submission_deadline' %>

<% if @projects.present? %>
  <table class="table table-bordered">
    <tr>
      <th>Title</th>
      <th>Advisor</th>
    </tr>
    <tbody>
      <% @projects.each do |project| %>
	<tr>
	  <td><%= link_to project.name,
	           project_path(project, year: project.quarter.year,
				season: project.quarter.season) %></td>
	  <td><%= display_name(project.advisor) %></td>
	</tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  The application period for the Practicum Program opens on Week 5 of the
  quarter. The list of projects will be published at that time.
<% end %>
