<h1>Approved projects for <%= Quarter.formatted_current_quarter%></h1>

<% if @projects.present? %>
<ol>
  <% @projects.each do |project| %>
    <div>
      <%= render 'project_short', project: project %>
    </div>
    <br>
  <% end %>
</ol>
<% else %>
There are currently no projects available during this quarter.
<% end %>
