<h2><%= formatted_quarter_by_params %> Pending Projects</h2>

<% if @projects.count > 0 %>
  <table class="table table-bordered">
    <tr>
      <th>Project title</th>
      <th>Advisor</th>
      <th>Status</th>
    </tr>
    <tbody>
      <% @projects.each do |project| %>
	<%= render 'project_short', project: project %>
      <% end %>
    </tbody>
  </table>

  <div>
    Click <%= link_to "here", publish_all_pending_projects_path,
              method: :patch, data: { confirm: "Are you sure?" } %>
    to publish all project proposals that are flagged as either approved or
    rejected.
  </div>

<% else %>
  No projects have been proposed for this quarter.
<% end %>
