<h2><%= @project.name %></h2>

<% if can? :update, @project %>
  <div>
    Click <%= link_to "here", edit_project_path %>
    to edit this project's information.
  </div>
  <br>
<% end %>

<%= render 'project_long', object: @project%>

<% if (can? :apply_to, @project) and before_deadline?("student_submission") %>
  Click <%= link_to "here", new_project_submission_path(@project.id) %>
  to apply.
<% end %>
