/* Adapted from Michael Hartl's Rails Tutorial. */

@import "bootstrap-sprockets";
@import "bootstrap";

$grayMediumLight: #eaeaea;
$bgDefault      : #800000;
$bgHighlight    : #9b1111;
$colDefault     : #ecf0f1;
$colHighlight   : #ffffff;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    padding-top: 80px;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.5em;
    color: white;
    padding-top: 10px;
    line-height: 1;
    &:hover {
	color: white;
	text-decoration: none;
    }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.inline {
  display: inline;
}

table {
  width: 100%;

  th {
    background-color: #ddd;
    padding: 3px;
  }

  tbody {
    background-color: #eee;
  }

}

.table-col-name {
  font-weight: bold;
  display: block;
}

.table-col-desc {
  font-weight: normal;
}

.project-form, .submission-form {
  th {
    width: 300px;
  }

  td {
    width: 600px;
  }

  textarea {
    min-width: 603px;
    min-height: 250px;
    resize: none;
    margin: 0;
  }

  input {
    min-width: 603px;
    margin: 0;
  }
}

.bootstrap-datetimepicker-widget thead tr:first-child th {
    background-color: white;
}

.bootstrap-datetimepicker-widget td, .bootstrap-datetimepicker-widget th {
    background-color: white;
}

/*
 * To show the dropdown menu when we hover over the button:
.dropdown:hover .dropdown-menu {
    display: block;
}
*/