/* Adapted from Michael Hartl's Rails Tutorial. */

@import "bootstrap";

$grayMediumLight: #eaeaea;
$bgDefault      : #800000;
$bgHighlight    : #9b1111;
$colDefault     : #ecf0f1;
$colHighlight   : #ffffff;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    padding-top: 80px;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.5em;
    color: white;
    padding-top: 10px;
    line-height: 1;
    &:hover {
	color: white;
	text-decoration: none;
    }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.inline {
  display: inline;
}

table {
  width: 100%;

  th {
    background-color: #ddd;
    padding: 3px;
  }

  tbody {
    background-color: #eee;
  }

}