<% if current_user and current_user.can_write_eval? %>
  <div class="alert alert-info">
    <p>
      You can now write an evaluation for at least one of your students. To do
      so, visit your students' applications.
    </p>
  </div>
<% end %>

<% if (can? :manage, :all) and Quarter.all.empty? %>
  <div class="alert alert-warning">
    <p>
      There are no quarters. A quarter must be made for the site's features to
      work properly.
    </p>
  </div>
<% end %>
