<% if current_user and current_user.can_write_eval? %>
  <div class="alert alert-info">
    <p>
      You can now write an evaluation for at least one of your students. To do
      so, visit your students' applications.
    </p>
  </div>
<% end %>
