<% if before_deadline?("student_submission") %>
  <div class="alert alert-info">
    <p>
      <strong>Application deadline</strong>:
      <%= formatted_deadline("student_submission") %>
    </p>
  </div>
<% else %>
  <div class="alert alert-warning">
    <p>
      <strong>The application deadline for this quarter has passed</strong>.
      The deadline was <%= formatted_deadline("student_submission") %>.
    </p>
  </div>
<% end %>
