<h2>Evaluation Templates</h2>

<% if @evaluation_templates.length > 0 %>
  <table class="table table-bordered">
    <thead>
      <tr>
	<th>Name</th>
	<th>Quarter</th>
	<th>Active in quarter?</th>
      </tr>
    </thead>
    <tbody>
      <% @evaluation_templates.each do |template| %>
	<%= render 'evaluation_template', template: template %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are currently no evaluation templates.</p>
<% end %>

<p>
  Click <%= link_to "here", new_evaluation_template_path %> to create an
  evaluation template.
</p>
