<%= render 'shared/error_messages', object: @evaluation_template %>
<h2>Evaluation Template</h2>
<% if db_template.id and db_template.survey.length > 0 %>

  <%= render 'modal' %>

  <%= render 'template_table' %>

<% else %>
  There is no evaluation template. To create one, you may add questions below.
<% end %>

<br />

<h2>New Question</h2>

<div id="new-eval-question">
  <%= render 'new_question_form' %>
</div>
