<%= render 'shared/error_messages', object: @evaluation_template %>
<h2>Evaluation Template</h2>
<% if survey_has_questions?(db_template(@evaluation_template)) %>
  <%= render 'modal', template: db_template(@evaluation_template) %>

  <%= render 'template_table', template: db_template(@evaluation_template) %>
<% else %>
  There are currently no questions. You may add questions below.
<% end %>

<br />
<br />

<h2>New Question</h2>

<div id="new-eval-question">
  <%= render 'new_question_form' %>
</div>
