<noscript>
  <div class="alert alert-danger">
    <p>
      <strong>Warning</strong>: JavaScript is disabled in your browser, so you
      may not be able to use some of the functionality on this website. We
      suggest that you enable JavaScript or use a different browser.
    </p>
  </div>
</noscript>
